@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
  --primary-color-transparent: rgba(17, 86, 102, 0.521);
  --primary-color-transparent-plus: rgba(17, 86, 102, 0);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom, var(--primary-color-darker), var(--primary-color));
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

header h1{
  text-align: center;
  background-image: linear-gradient(to bottom, var(--primary-color), var(--primary-color-transparent));

  margin: -15px;
  margin-bottom: 10px;
  padding: 20px;

  border-radius: 10px 10px 0px 0px;

  color: #fff;
}

section#tabela-classificacao{
  background-image: linear-gradient(to bottom, var(--primary-color-transparent), var(--primary-color-transparent-plus));
  margin: 0px -15px;
  padding: 20px;
}

section#tabela-classificacao h2{
  color: rgba(255, 255, 255, 0.623);
}

div#tabela-imc, div#tabela-resultado{
  display: inline-block;
  font-size: 0.75em;
  line-height: 1.9em;
  margin: 0px;
}

div#tabela-imc{
  width: 54%;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

.paragrafo-resultado{
  background-color: rgb(132, 255, 148);
  padding: 10px 20px;
}

.incorrect{
  background-color: rgb(255, 139, 139);
  padding: 10px 20px;
}